<div class="container user-list_container justify-content-center">
    <div class="col-md-12 mt-5">
        <h1 class="text-center">Active Users</h1>
        <hr class="mb-5">
        {{#each user}}
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-md-2 rounded">
                <a href="/user/profile/{{username}}"><img src="{{avatar}}" alt="user avatar"></a>
            </div>
            <div class="col-md-2">
                <p class="ml-3">{{username}}</p>
            </div>
            <div class="col-md-4">
                <p class="ml-3 t-3">{{email}}</p>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <form class="form-inline" action="/admin/edit/{{username}}" method="GET">
                        <button class="btn btn-warning rounded-pill pl-4 pr-4" type="submit">Edit</button>
                    </form>
                    <a class="btn btn-outline-danger ml-2 rounded-pill" href="/admin/delete-user/{{_id}}">Delete</a>
                </div>  
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>