<section class="movie">
    <div class="container movie-content">
        <div class="row justify-content-center mb-4">
            <div class="col-md-6">
                <h1 class="title-logo">Movie Hunter</h1>
                <hr class="bg-warning">
                <p>Your daily dose of movies. Look for a specific movie or let yourself get inspired by our community!</p>
            </div>
            <div class="col-6">
                <img class="logo" src="/images/logo.png" alt="logo">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 movie-content-inner">
                <img src="https://image.tmdb.org/t/p/original{{movieData.trendingData.poster_path}}" alt="random movie poster">
            </div>
            <div class="col-md-8 main-movie">
                <div class="row">
                    <img src="/images/star.png" alt="star">
                    <h2>Trending this week</h2>
                </div>
                <div class="row">
                    <h6>{{movieData.trendingData.original_title}}</h6>
                </div>
                <div class="row">
                    <span><a class="btn btn-warning" href="/movies/{{movieData.trendingData.id}}">See Details</a></span>
                </div>
                    
                
                
            </div>
        </div>
    </div>
    <div class="movie-footer">
        <p>Check the latest movies</p>
        <img src="/images/scroll-down.gif" alt="scroll down">
    </div>
</section>


<div class="container index_container">
    <div id="errorMsg">{{errorMsg}}</div>
    <div id="g1" class="glide">
        <h2 class="mb-3">Trending movies</h2>
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">     
                {{#each movieData.popularData.results}}
                <li class="glide__slide movie-card">
                    <figure>
                        <a href="/movies/{{id}}"><img loading="lazy" class="card-img-top" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="Image of {{original_title}}" style="width: 100%"></a>
                        <figcaption>
                            <p style="font-size: 16px; opacity: 0.8" class="card-text mt-2">{{release_date}}</p>
                            <h5 style="font-size: 18px; font-weight: 400" class="card-title">{{original_title}}</h5>
                            <div class="row justify-content-center">
                                <a href="/movies/{{id}}" class="btn btn-warning">See details</a>
                            </div>
                            
                        </figcaption>
                    </figure>            
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <hr>

    <div id="g2" class="glide">
        <h2 class="mb-3">Upcoming movies</h2>
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {{#each movieData.upcomingData.results}}
                <li class="glide__slide movie-card">
                    <figure>
                        {{#if poster_path}}
                        <a href="/movies/{{id}}"><img loading="lazy" style="width: 100%" class="card-img-top" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="Image of {{original_title}}"></a>
                        {{else}}
                        <a href="/movies/{{id}}"><img loading="lazy" style="width: 100%" class="card-img-top" src="https://res.cloudinary.com/nyhz/image/upload/v1631550529/tymvvaz11mv6dxviqszz.jpg"
                            alt="Image of {{original_title}}"></a>
                        {{/if}}
                        <figcaption>
                            <p class="card-text mt-2">{{release_date}}</p>
                            <h5 class="card-title">{{original_title}}</h5>
                            <div class="row justify-content-center">
                            <a href="/movies/{{id}}" class="btn btn-warning">See details</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <script src="/js/glide.min.js"></script>
    <script src="/js/glide.js"></script>

</div>