<div class="container profile_container mb-5">
    {{#if theUser}}
    <div class="row justify-content-center">
        <div class="col-md-4 follow_list">
            <h2> <i class="fas fa-user"></i> Users you follow</h2>
            {{#each theUser.following}}
            <a href="/user/profile/{{this.username}}"><p>{{this.username}}</p></a>
            {{/each}}
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center mt-3">
                <div class="col-md-12">
                    <h2 class="text-center">{{theUser.username}}'s profile</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p class="text-center">{{theUser.role}}</p>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-10 profile_avatar">
                    <img src="{{theUser.avatar}}" alt="Default user avatar">
                    <form class="mt-3" action="/user/edit" method="post" enctype="multipart/form-data">
                        <label for="avatar">Upload new avatar</label>
                        <input class="custom-file-upload" type="file" name="avatar" id="avatar">
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 follow_count justify-content-center">
                    <p class="text-center mt-3">Followers: {{followers}} | Following: {{following}}</p>
                    <div class="row justify-content-center">
                        <a class="profile_button" href="/user/messages">Check messages</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    {{else}}

    <div class="row justify-content-center mt-3">
        <div class="col-md-12">
            <h2 class="text-center">{{user.username}}'s profileeeeeeeeeeeeeee</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <p class="text-center">{{user.role}}</p>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-3 profile_avatar">
            <img src="{{user.avatar}}" alt="Default user avatar">
            <form class="mt-3" action="/user/edit" method="post" enctype="multipart/form-data">
                <label class="text-center" for="avatar">Upload new avatar</label>
                <input class="custom-file-upload" type="file" name="avatar" id="avatar">
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 follow_count">
            <p class="text-center mt-3">Followers: {{followers}} | Following: {{following}}</p>
            <a class="btn btn-primary btn-block" href="/user/messages">Check messages</a>
        </div>
    </div>
</div>
    
    {{/if}}


<hr>

<div class="container-fluid movies_container mt-5">
    <h2>Favourite movies</h2>
    <div class="row justify-content-center">
        {{#each favouriteMovies}}
        <div class="col-md-4 d-flex align-items-strech justify-content-center">
                <div class="card card_container">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="Image of {{original_title}}">
                <div class="card-body">
                    <h4 class="card-title">{{original_title}}</h4>
                    <p class="card-text">{{release_date}}</p>
                    <a href="/movies/{{id}}" class="btn btn-primary">See details</a>
                    <a href="/movies/{{id}}/remove" class="btn btn-danger">Remove</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>