<div class="container">

    {{#if theUser}}
        <div class="row">
            <div class="col-3 following">
                <p class="text-center mr-5">Following</p>
                <hr class="bg-warning mr-5 mb-4">
                {{#each theUser.following}}
                    <a href="/user/profile/{{this.username}}">
                    <p>{{this.username}}</p></a>
                {{/each}}
            </div>
        
            <div class="col-6 profile">
                <div class="row">
                    <div class="col-12  d-flex flex-column align-items-center">
                        <h2>My profile</h2>
                        <h4>{{theUser.role}}</h4>
                        <div class="row">
                            <img class="rounded-circle mr-4" src="{{theUser.avatar}}" alt="user avatar">
                            <form class="mt-3 d-flex flex-column" action="/user/edit" method="post" enctype="multipart/form-data">
                                <label class="btn btn-outline-warning rounded-pill mt-3" for="avatar">Change avatar</label>
                                <input class="custom-file-upload" type="file" name="avatar" id="avatar">
                                <button class="btn btn-warning rounded-pill" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 follow_count">
                        <p class="text-center text-warning mt-3">Followers: {{followers}} Following: {{following}}</p>
                    </div>
                </div>
                <label for="username">Username</label>
                <input class="form-control rounded-pill" type="text" value="{{theUser.username}}" disabled>
                <label class="mt-3" for="username">E-mail</label>
                <input class="form-control rounded-pill" type="text" value="{{theUser.email}}" disabled>
            </div>
            <div class="col-3 justify-content-center">
                <a class="ml-5 btn rounded-pill btn-outline-warning" href="/user/messages">Messages</a>
            </div>
        </div>

        {{else}}

        <div class="row">
            <div class="col-3 following">
                <p class="text-center mr-5">Following</p>
                <hr class="bg-warning mr-5 mb-4">
                {{#each user.following}}
                <a href="/user/profile/{{this.username}}">
                    <p>{{this.username}}</p>
                </a>
                {{/each}}
            </div>
        
            <div class="col-6 profile">
                <div class="row">
                    <div class="col-12  d-flex flex-column align-items-center">
                        <h2>My profile</h2>
                        <h4>{{user.role}}</h4>
                        <div class="row">
                        <img class="rounded-circle mr-4" src="{{user.avatar}}" alt="user avatar">
                        <form class="mt-3 d-flex flex-column" action="/user/edit" method="post" enctype="multipart/form-data">
                            <label class="btn btn-outline-warning rounded-pill mt-3" for="avatar">Change avatar</label>
                            <input class="custom-file-upload" type="file" name="avatar" id="avatar">
                            <button class="btn btn-warning rounded-pill" type="submit">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 follow_count">
                        <p class="text-center text-warning mt-3">Followers: {{followers}} Following: {{following}}</p>
                    </div>
                </div>
                <label for="username">Username</label>
                <input class="form-control rounded-pill" type="text" value="{{user.username}}" disabled>
                <label class="mt-3" for="username">E-mail</label>
                <input class="form-control rounded-pill" type="text" value="{{user.email}}" disabled>
            </div>
            <div class="col-3 justify-content-center">
                <a class="ml-5 btn rounded-pill btn-outline-warning" href="/user/messages">Messages</a>
            </div>
        </div>
    {{/if}}
</div>

<div class="container mb-4">
    <h2 class="text-center">Favourite movies</h2>
    <div class="row justify-content-center">
        {{#each favouriteMovies}}
            <div class="col-2 movie-card mr-1 ml-1">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="Image of {{original_title}}">
                <p class="card-text">{{release_date}}</p>
                <h4 class="card-title mt-2 mb-3">{{original_title}}</h4>
                <a href="/movies/{{id}}" class="btn btn-warning btn-block rounded-pill">See details</a>
                <a href="/movies/{{id}}/remove" class="btn btn-outline-danger btn-block rounded-pill">Remove</a>
            </div>
        {{/each}}
    </div>
</div>

