<div class="container profile_container mb-5">

    {{#if theUser}}
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 img_col">
            <img src="{{theUser.avatar}}" alt="Default user avatar">
            <form class="mt-3" action="/user/edit" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar">
                <button class="btn btn-danger btn-block mt-2" type="submit">Upload new avatar</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>{{theUser.username}}</h2>
            <p>Role - {{theUser.role}}</p>
            <p>Email - {{theUser.email}}</p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-block" href="/user/messages">Check messages</a>
            <a class="btn btn-danger btn-block" href="/user/friendlist">Friend List</a>
        </div>
    </div>

    {{else}}

    <div class="row justify-content-center mt-5">
        <div class="col-md-4 img_col">
            <img src="{{user.avatar}}" alt="Default user avatar">
            <form class="mt-3" action="/user/edit" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar">
                <button class="btn btn-danger btn-block mt-2" type="submit">Upload new avatar</button>
            </form>
        </div>
        <div class="col-md-4">
            <h2>{{user.username}}</h2>
            <p>Role - {{user.role}}</p>
            <p>Email - {{user.email}}</p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-block" href="/user/messages">Check messages</a>
            <a class="btn btn-danger btn-block" href="/user/friendlist">Friend List</a>
        </div>
    </div>
    
    {{/if}}

</div>

<hr>

<div class="container-fluid movies_container mt-5">
    <h2>Favourite movies</h2>
    <div class="row justify-content-center">
        {{#each favouriteMovies}}
        <div class="col-md-2">
                <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="Image of {{original_title}}">
                <div class="card-body">
                    <h4 class="card-title">{{original_title}}</h4>
                    <p class="card-text">{{release_date}}</p>
                    <a href="/movies/{{id}}" class="btn btn-primary">See details</a>
                    <a href="/movies/{{id}}/remove" class="btn btn-danger">Remove</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>