<div class="container profile_container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 img_col">
            <img src="{{theUser.avatar}}" alt="Default user avatar">
            <form action="/user/sendmsg/{{theUser.username}}" method="get">
                <button class="btn btn-danger btn-block mt-3" type="submit">Send Message</button>
            </form>
            {{#unless alreadyFollowing}}
            <a class="btn btn-primary btn-block mt-2" href="/user/follow/{{theUser.username}}">Follow user</a>
            {{/unless}}
        </div>
        <div class="col-md-6">
            <h2>{{theUser.username}}</h2>
            <p>{{theUser.role}}</p>
            <p>{{theUser.email}}</p>
        </div>
    </div>
</div>