<div class="container profile_container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="{{this.avatar}}" alt="Default user avatar">
            <form action="/user/sendmsg/{{this.username}}" method="get">
                <button class="btn btn-danger btn-block mt-3" type="submit">Send Message</button>
            </form>
            <a class="btn btn-primary btn-block mt-2" href="/user/addfriend/{{this.username}}">Add friend</a>
        </div>
        <div class="col-md-6">
            <h2>{{this.username}}</h2>
            <p>{{this.role}}</p>
        </div>
    </div>
    {{#if isMod}}
    <a class="btn btn-primary" href="/user/edit-profile">Edit</a>
    {{/if}}
</div>