<div class="container details_container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/original{{dataObject.movieInfo.[0].poster_path}}" alt="">
        </div>
       
        <div class="col-md-6 movie_details">
            <h2>{{dataObject.movieInfo.[0].original_title}}</h2>
            <hr>
            <h3>Released</h2>
            {{dataObject.movieInfo.[0].release_date}}
            <hr>
            <h3>Plot</h2>
            {{dataObject.movieInfo.[0].overview}}
            <hr>
            <a href="https://www.imdb.com/title/{{dataObject.movieInfo.[0].imdb_id}}/" class="btn btn-dark btn-block mt-5" target="_blank">Link to IMDB</a>
            <form action="/movies/favourite/{{dataObject.movieInfo.[0].id}}" method="post">
                <button class="btn btn-dark btn-block mt-2" type="submit">Add to favourites</button>
            </form>
            <a class="btn btn-dark btn-block mt-2" href="/movies/{{dataObject.movieInfo.[0].id}}/addcomment">Add comment</a>

        </div>
    </div>
</div>
{{#if dataObject.comments}}
<div class="container mt-5">
    <h2>Comment section</h2>
    <div class="row justify-content-center">
        {{#each dataObject.comments}}
        <div class="col-md-12">
            <p>Author: <a href="/user/profile/{{authorId.username}}">{{authorId.username}}</p></a>
            <p>Rating: {{rating}}</p>
            <p>Comment: <br>{{content}}</p>
            <a class="btn btn-danger" href="/mod/{{_id}}/delete">Delete Comment</a>
            <hr>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>