<div class="container details_container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <h2>Poster</h2>
            <img src="https://image.tmdb.org/t/p/original{{this.poster_path}}" alt="">
        </div>
       
        <div class="col-md-6">
            <h2>Title</h2>
            {{this.original_title}}
            <h2>Released</h2>
            {{this.release_date}}
            <h2>Plot</h2>
            {{this.overview}}
            <hr>
            <a href="https://www.imdb.com/title/{{this.imdb_id}}/" class="btn btn-primary btn-block mt-5">Link to IMDB</a>
            <form action="/movies/favourite/{{this.id}}" method="post">
                <button class="btn btn-danger btn-block mt-2" type="submit">Add to favourites</button>
            </form>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        </div>
    </div>
</div>